<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HomePage Test for search form</title>
</head>

<body>
 <p>Hi !</p>

  <form action="{% url "product search" %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
  </form>

{% if user_search %}
<p>You searched : {{ user_search }}</p>
{% endif %}

{% if results %}
<ul>
  {% for product in results %}
  <li>{{ product.name }} {{ product.nutriscore }}</li>
  {% endfor %}
{% else %} <p>No results ! Sorry !</p>
</ul>
{% endif %}

</body>

</html>
