.logo-purbeurre {
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
}

.carrot-icon {
    width: 27px;
    height: 22px
}


.product-display {
    display: flex;
    border: #1c7430 solid 1px;
    margin-top: 1rem;
}

.product-img {
    /*max-width: 18rem;*/
    /*max-height: 18rem;*/
    margin: 1rem 0;
    /*width: auto;*/
    /*height: auto;*/
    object-fit: cover;
    object-position: top left;
    width: 18rem;
    height: 18rem;
}

.nutriscore-img {
    /*float: right;*/
    border-radius: 50%;
    width: 3rem;
    position: relative;
    /*right: 1rem;*/
    /*top: 1rem;*/
}

.add-fav {
    margin-bottom: 1rem;
}

.bg-product {
    background-repeat: no-repeat;
}

@media (max-width: 1199px) {
    .product-img {
        max-width: 15rem;
        max-height: 15rem;
    }
}

@media (max-width: 991px) {
    .product-img {
        max-width: 10rem;
        max-height: 10rem;
    }
}

@media (max-width: 767px) {
    .product-img {
        max-width: 15rem;
        max-height: 15rem;
    }
}
